#header {
  margin-top: 10px;
}

#tel {

}

#logo {
  width: 100%;
}

.logo {
  width: 10%;
}

.info{
  width: 90%;
  text-align: right;
}



.container {
  /* margin-left: 0; */
  /* margin-right: 0; */
}
